@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Confirmation";
    ViewBag.h1 = "You submission has been successfully saved!";
    ViewBag.h1x = "Movie: 'Independence Day' is currently banned from the website, data was not loaded";
}

@model MovieCollection.Models.NewData


@if (Model.Title == "Independence Day")
{
    <div>
        <h1 style="color:darkred;">@ViewBag.h1x</h1>
    </div>
}
else
{
    <div>
        <h1>@ViewBag.h1</h1>
    </div>
}

<div>
    <br />
    <h3>To view current movie list, click <a asp-action="mvDB">Here</a></h3>
</div>

<div>
    <h3>To enter another movie, click <a asp-action="Data">Return</a></h3>
</div>
