@page
@model MovieCollection.Views.V2.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NewData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewData.Category" class="control-label"></label>
                <input asp-for="NewData.Category" class="form-control" />
                <span asp-validation-for="NewData.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewData.Title" class="control-label"></label>
                <input asp-for="NewData.Title" class="form-control" />
                <span asp-validation-for="NewData.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewData.Year" class="control-label"></label>
                <input asp-for="NewData.Year" class="form-control" />
                <span asp-validation-for="NewData.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewData.Director" class="control-label"></label>
                <input asp-for="NewData.Director" class="form-control" />
                <span asp-validation-for="NewData.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewData.Rating" class="control-label"></label>
                <input asp-for="NewData.Rating" class="form-control" />
                <span asp-validation-for="NewData.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewData.Edited" class="control-label"></label>
                <input asp-for="NewData.Edited" class="form-control" />
                <span asp-validation-for="NewData.Edited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewData.LentTo" class="control-label"></label>
                <input asp-for="NewData.LentTo" class="form-control" />
                <span asp-validation-for="NewData.LentTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewData.Notes" class="control-label"></label>
                <input asp-for="NewData.Notes" class="form-control" />
                <span asp-validation-for="NewData.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
